.dialogs {
    display: grid;
    grid-template-columns: 2fr 25fr;
    grid-template-areas:
    "d m"
    "d m"
    "n n";
    grid-template-rows: 200px 3fr;
    grid-template-colums: 3fr 60fr;
    grid-gap: 30px
}

.dialogsItems {
    grid-area: d;
    padding: 10px;
    background-color: black;

}

.dialogsItems .active{
    color: gold;
}

.messages {
    grid-area: m;
    padding: 20px;
    background-color: darkblue;


}
.MissageBlock{
    grid-area: n;
    padding: 20px;
}




