.dialogs {
    display: grid;
    grid-template-columns: 2fr 25fr;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active{
    color: gold;
}

.messages {
    padding: 10px;

}

.message {

}


